{% extends "base.html" %}

{% block title %}Rinkimai{% endblock %}

{% block body %}
<h1>Nauja citata</h1>
<form method="post">
    {% csrf_token %}

    <p><strong>Citatos šaltinis:</strong></p>
    <p>
        <a href="{{ source }}" target="_blank">{{ source }}</a>
        <input type="hidden" name="source" value="{{ source }}">
    </p>

    <p><label for="id_person"><strong>Citatos autorius</strong></label></p>
    <p><small>Vardas Pavardė arba partijos pavadinimas.</small></p>
    {% if names %}
        <p><small>
            Pasirinkite vieną iš sąrašo arba įrašykite citatos autorių žemiau.
        </small></p>
        {% for name in names %}
            <p>
                <input type="radio" id="suggested_author_{{ forloop.counter }}"
                       name="suggested_author" value="{{ name.type }}:{{ name.id }}">
                <label for="suggested_author_{{ forloop.counter }}">
                    {{ name.label }}</label>
            </p>
        {% endfor %}
    {% endif %}
    <p>
        <input type="radio" name="suggested_author" value="person">
        <input type="text" id="id_person" name="person" placeholder="Vardas Pavardė">
        (asmuo)
    </p>
    <p>
        <input type="radio" name="suggested_author" value="group">
        <input type="text" id="id_group" name="group" placeholder="Pavadinimas">
        (partija)
    </p>

    <p><label for="{{ form.date.id_for_label }}"><strong>Citatos data</strong>:</label></p>
    <p>{{ form.date }}</p>

    <p><label for="{{ form.text.id_for_label }}"><strong>Citata</strong>:</label></p>
    <p>{{ form.text }}</p>

    <p><label for="{{ form.tags.id_for_label }}"><strong>Žymės</strong>:</label></p>
    <p>
        {{ form.tags }}
    </p>
    <p><small>Apie ką ši citata?</small></p>
    <p><small>Žymių sąrašas atskirtas kableliais.</small></p>

    <hr>
    <p><input type="submit" value="Pateikti"></p>
</form>
{% endblock %}
