{% extends "base.html" %}

{% block title %}Rinkimai{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <p><input type="submit" value="Pateikti"></p>
    </form>
{% endblock %}
