{% extends "base.html" %}

{% block title %}Rinkimai{% endblock %}

{% block body %}
<p>Pateikite šaltinio nuorodą:</p>
<form method="get">
    {{ form }}
    {% if person %}
        <input type="hidden" name="person" value="{{ person }}">
    {% endif %}
    {% if group %}
        <input type="hidden" name="group" value="{{ group }}">
    {% endif %}
    <input type="submit" value="Pateikti">
</form>
{% endblock %}
