<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
        .reaction-like {
            color: limegreen;
        }
        .reaction-dislike {
            color: indianred;
        }
        .reaction-ignore {
            color: gray;
        }

        /* Voter candidate table. */
        #voter-candidates-table > tbody > tr > td:last-child {
            text-align: right;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function save_reaction($this, quote, reaction) {
            let data = {
                quote: quote,
                reaction: reaction
            };
            $.post("{% url 'save-reaction' %}", data, function (data) {
                // Clean previous state
                $this.parent('span').find('button').removeClass([
                    "reaction-like",
                    "reaction-dislike",
                    "reaction-ignore",
                ]);
                $this.parent('span').find('button').removeAttr('disabled');

                // Update given button
                if (reaction > 0) {
                    $this.addClass("reaction-like");
                } else if (reaction < 0) {
                    $this.addClass("reaction-dislike");
                } else {
                    $this.addClass("reaction-ignore");
                }
                $this.attr("disabled", true);
            });
        }
    </script>
    {% if user.is_staff %}
        <script>
        function approve_quote($this, quote, active) {
            let data = {
                quote: quote,
                active: active,
            };
            $this.parent('span').find('button').removeAttr('disabled');
            $.post("{% url 'approve-quote' %}", data, function (data) {
                $this.parent('span').find('button').toggle();
            });
        }
        </script>
    {% endif %}
</head>
<body>
    <div>
        Rinkimai:
        <strong>
            {% if election %}
                {{ election }}
            {% else %}
                &lt;No selected&gt;
            {% endif %}
        </strong>
    </div>
    <div>
        <p>Meniu:</p>
        <ul>
            {% for item in menu %}
                {% if item.staff is False or user.is_staff %}
                    {% if item.name == active_menu_item %}
                        <li><strong>{{ item.title }}</strong></li>
                    {% else %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>
