{% extends "base.html" %}

{% block body %}
    <a href="{{ add_new_quote_url }}">Add new quote</a>

    {% for quote in quotes %}
        <div>
            <hr>
            <p>
                {% if quote.person %}
                    <a href="{% url "person-quotes" quote.person.slug %}"
                        >{{ quote.person.name }}</a>
                {% else %}
                    <a href="{% url "group-quotes" quote.group.slug %}"
                        >{{ quote.group.name }}</a>
                {% endif %}
                (<a href="{{ quote.source.url }}" target="_blank">{{ quote.source.name }}</a>,
                {{ quote.date }})
                |
                <span>
                    <button
                        id="reaction-like"
                        onclick="save_reaction($(this), '{{ quote.id }}', 1);"
                        {% if quote.reaction > 0 %}
                        class="reaction-like"
                        disabled
                        {% endif %}
                        >Patinka</button>
                    <button
                        id="reaction-dislike"
                        onclick="save_reaction($(this), '{{ quote.id }}', -1);"
                        {% if quote.reaction < 0 %}
                        class="reaction-dislike"
                        disabled
                        {% endif %}
                        >Nepatinka</button>
                    |
                    <button
                        id="reaction-ignore"
                        onclick="save_reaction($(this), '{{ quote.id }}', 0);"
                        {% if quote.reaction is 0 %}
                        class="reaction-ignore"
                        disabled
                        {% endif %}
                        >Neįdomu</button>
                </span>

                {% if user.is_staff %}
                    |
                    <span>
                        <button
                            {% if not quote.active %}style="display: none;"{% endif %}
                            onclick="approve_quote($(this), '{{ quote.id }}', false);"
                            >Slėpti</button>
                        <button
                            {% if quote.active %}style="display: none;"{% endif %}
                            onclick="approve_quote($(this), '{{ quote.id }}', true);"
                            >Rodyti</button>
                    </span>
                    |
                    <a href="{% url 'admin:rinkimai_quote_change' quote.id %}" target="_blank">
                        change
                    </a>
                {% endif %}
            </p>
            <p>{{ quote.text }}</p>
            <p>
                {% if quote.tags %}
                    Žymės:
                    {% for tag in quote.tags %}
                        <a href="{% url 'tag-quotes' tag %}">{{ tag }}</a>{% if not forloop.last %}, {% else %}.{% endif %}
                    {% endfor %}
                {% endif %}

            </p>
        </div>
    {% endfor %}

{% endblock %}
