{% extends "base.html" %}

{% block body %}
    <a href="{{ add_new_quote_url }}">Add new quote</a>

    <h1>Mano kandidatai</h1>

    <table id="voter-candidates-table">
        <thead>
        <tr>
            <th>Kandidatas</th>
            <th>Reitingas</th>
        </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>
                    {% if candidate.party %}
                    <a href="{% url 'group-quotes' candidate.party.slug %}">{{ candidate.party.abbr }}</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'person-quotes' candidate.slug %}">{{ candidate.name }}</a>
                </td>
                <td>{{ candidate.rating }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}